body {
  background-image: url(./images/premier\ 2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  color: #6cd9a8;
}

h1 {
  margin: 40px;
  font-size: 40px;
}

main {
  display: flex;
  margin: 20px 40px;
  justify-content: space-between;
}

.score-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
}

#refresh-btn {
  width: 80px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  /* outline: none; */
  font-weight: bold;
  background-color: rgba(175, 169, 163, 1);
}

#refresh-btn:hover {
  background-color: #6cd9a8;
}

.scores-display {
  width: 35vw;
  border-radius: 8px;
  background-color: rgba(236, 229, 221, 0.6);
}

.rendered-scores {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.rendered-scores:first-child {
  border-radius: 8px 8px 0 0;
}

.rendered-scores:nth-child(even) {
  background-color: rgba(175, 169, 163, 0.6);
}

.rendered-scores:last-child {
  border-radius: 0 0 8px 8px;
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 30px;
}

#name-id,
#score-area {
  height: 40px;
  background-color: rgba(175, 169, 163, 0.6);
  color: black;
}

#name-id::placeholder,
#score-area::placeholder {
  color: #6cd9a8;
  padding-left: 10px;
  font-weight: bold;
}

.submit-Btn {
  padding: 10px 0;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  /* outline: none; */
  font-weight: bold;
  background-color: rgb(95, 50, 6);
}

.submit-Btn:hover {
  background-color: #0c4b2f;
}
